.minMax {
    height: 60px;
    width: 60px;
    background-color: lightblue;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    padding-top: 2%;

}

.local {
    height: 60px;
    width: max-content;
    background-color: lightblue;
    border-radius: 20%;
    display: inline-block;
    text-align: center;
    padding-top: 3%;
    

}